<h3>{{ listName() }}</h3>
    <ul>
      @for (character of characters(); track character.id; let idx = $index) {

        @if (character.power > 500) {
          <li>
          <span>{{idx + 1 }} - {{ character.name }}</span>
                <!-- Condicionar la clase para que cuando sea mayor de 9000 se resalte en rojo -->
          <strong
            [class.text-danger]="character.power > 9000"
            [class.text-primary]="character.power < 9000"
          >
                <!-- [ngClass="powerClasses()"] -->
            ({{character.power}})</strong>
        </li>
        } @else {
          <li><strong>Yamcha es un inutil no merece ser visto</strong></li>
        }


      }
    </ul>
